

h1 {
  font-size: 60px;
  padding: 40px;
  font-family: "Bebas Neue", montserrat, arial;
  text-align: center;
  color: white;
  background-color: #222;
  outline-color: #000436;
  position: fixed;
  bottom: 0;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #FFF;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #666